@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

:root {
    --bgColor: #4fa74f;
    --shadow: 1px 1px 10px #4fa74f,
        rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
        rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
    --fontFamily: "Encode Sans Expanded", sans-serif;
    --ratingColor: #ffc908;
}

a:-webkit-any-link {
    color: black;
    text-decoration: none
}

body {
    font-family: var(--fontFamily);
    padding-top: 70px;
}

.rating-color {
    color: var(--ratingColor);
}



.cursor-pointer {
    cursor: pointer;
}


.product {
    transition: 0.4s;
}

.product:hover {
    box-shadow: var(--shadow) !important;

}

.product-img {
    height: 250px;
    object-fit: contain;
    object-position: center center;

}



.product .btn {
    opacity: 0 !important;
    transition: transform 0.5s, opacity 0.5s !important;
    transform: translateY(150%) !important;
    color: white;

}

.product:hover .btn {
    opacity: 1 !important;
    transform: translateY(0%) !important;
    background-color: #479647;
    color: white;
}



.text-main {
    color: var(--bgColor);
}


.not-found-page {
    position: absolute;
    top: 90px;
    bottom: 0;
    right: 0;
    left: 0;
}